.calci{
    width: 250px;
    border-radius: 10px;
    background-color: orange;
}

.display{
    text-align: right; 
    background-color:green;
    border-radius: 10px;
}

.btn{
    background-color: rgb(149, 149, 149);
    color: white;
}
.btn:hover{
    background-color: rgb(192, 192, 192);
}

.clr{
    background-color: red;
}
.clr:hover{
    background-color: rgb(255, 94, 94);
}

.op{
    background-color: blue;
    color: orange;
}
.op:hover{
    background-color: rgb(175, 175, 175);
}

.cal{
    background-color: black;
}